<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="row">
    <p class="navbar-text navbar-center col-md-12 text-center">©2019 node-blog 使用 Express + MongoDB 搭建多人博客,根据 N-blog 文档搭建，并做相应的记录和注释 京ICP证xxxxxxx号</p>
  </div>
</nav>